@import "./variables.scss";
body{
    font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 320px){
    footer{
        background-image: url("../imagenes/footer/fondoFooter.png");
        a{
            .logo__footer{
                margin-top: 56px;
                padding-left: 20px;
                width: 200px;
            }
        }
        .colum__footer{
            padding: unset;
            padding-top: 24px;
            
            a {
                text-decoration:none;
                p{
                    color: $blanco;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 16px 0px 0px 20px;
                    list-style: none;
                }
            }
        }
        .colum__footer2{
            padding: unset;
            padding-top: 24px;
            position: relative;
            top: -16px;
            a {
                text-decoration:none;
                p{
                    color: $blanco;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 16px 0px 0px 20px;
                    list-style: none;
                }
            }
        }
            .footer__contactanos{
                padding: 32px 0px 0px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                a{
                    text-decoration: none;
                    color: $blanco;
                }
            }
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                img{
                    padding-right: 11px;
                }
            }
            .footer_datosPersonales{
                padding-left: 20px;
                p{
                    padding-left: 0px;
                }
            }
        
        .footer__redesSociales{
            p{
                padding: unset;
                padding: 12px 0px 10px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
            .container__redesSociales__icons{
                padding-left: 20px;
            }
            img{
                padding-right: 15px;
            }
        }
        .footer__avisoLegal{
            padding: unset;
            margin: unset;
            padding: 46px 30px 40px 30px;
            text-align: center;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;      
            a{
                text-decoration: none;
                color: $blanco;
            }     
        }
    }
}
@media only screen and (min-width:321px) and (max-width: 480px){
    footer{
        background: url("../../imagenes/footer/fondoFooter480.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        width: 100%;
        a{
            .logo__footer{
                margin-top: 56px;
                padding-left: 20px;
                width: 200px;
                height: 33px;
            }
        }
        .colum__footer{
            padding: unset;
            padding-top: 24px;
            
            a {
                text-decoration:none;
                p{
                    color: $blanco;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 16px 0px 0px 20px;
                    list-style: none;
                }
            }
        }
        .colum__footer2{
            padding: unset;
            padding-top: 24px;
            position: relative;
            top: -16px;
            a {
                text-decoration:none;
                p{
                    color: $blanco;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 16px 0px 0px 20px;
                    list-style: none;
                }
            }
        }
            .footer__contactanos{
                padding: 32px 0px 0px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                a{
                    text-decoration: none;
                    color: $blanco;
                }
            }
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                img{
                    padding-right: 11px;
                }
            }
            .footer_datosPersonales{
                padding-left: 20px;
                p{
                    padding-left: 0px;
                }
            }
        
        .footer__redesSociales{
            p{
                padding: unset;
                padding: 12px 0px 10px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
            .container__redesSociales__icons{
                padding-left: 20px;
            }
            img{
                padding-right: 15px;
            }
        }
        .footer__avisoLegal{
            padding: unset;
            margin: unset;
            padding: 46px 30px 40px 30px;
            color: $blanco;
            text-align: center;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;       
            a{
                text-decoration: none;
                color: $blanco;
            }         
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 599px){
    footer{
        background-image: url("../../imagenes/footer/fondoFooter600.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    
        a{
            .logo__footer{
                margin-top: 56px;
                padding-left: 20px;
                width: 200px;
                height: 33px;
            }
        }
        .colum__footer{
            padding: unset;
            padding-top: 24px;
            
            a {
                text-decoration:none;
                p{
                    color: $blanco;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 16px 0px 0px 20px;
                    list-style: none;
                }
            }
        }
        .colum__footer2{
            padding: unset;
            padding-top: 24px;
            position: relative;
            top: -16px;
            a {
                text-decoration:none;
                p{
                    color: $blanco;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 16px 0px 0px 20px;
                    list-style: none;
                }
            }
        }
            .footer__contactanos{
                padding: 32px 0px 0px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                a{
                    text-decoration: none;
                    color: $blanco;
                }
            }
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                img{
                    padding-right: 11px;
                }
            }
            .footer_datosPersonales{
                padding-left: 20px;
                p{
                    padding-left: 0px;
                }
            }
        
        .footer__redesSociales{
            p{
                padding: unset;
                padding: 12px 0px 10px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
            .container__redesSociales__icons{
                padding-left: 20px;
            }
            img{
                padding-right: 15px;
            }
        }
        .footer__avisoLegal{
            padding: unset;
            margin: unset;
            padding: 46px 30px 40px 30px;
            color: $blanco;
            text-align: center;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;    
            a{
                text-decoration: none;
                color: $blanco;
            }            
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    footer{
        background-image: url("../imagenes/footer/footer600.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }
    .logo__footer{
        margin-top: 56px;
        padding-left: 20px;
        width: 211px;
        height: 33px;
    }
    .colum__footer{
        padding: unset;
        padding-top: 50px;
        
        a {
            text-decoration:none;
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 0px 0px 20px;
                list-style: none;
            }
        }
    }
    .colum__footer2{
        padding: unset;
        padding-top: 24px;
        position: relative;
        top: -16px;
        a {
            text-decoration:none;
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 0px 0px 20px;
                list-style: none;
            }
        }
    }
        .footer__contactanos{
            padding: 32px 0px 0px 20px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            a{
                text-decoration: none;
                color: $blanco;
            }
        }
        p{
            color: $blanco;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            img{
                padding-right: 11px;
            }
        }
        .footer_datosPersonales{
            padding-left: 20px;
            p{
                padding-left: 0px;
            }
        }
    
    .footer__redesSociales{
        p{
            padding: unset;
            padding: 12px 0px 10px 20px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }
        .container__redesSociales__icons{
            padding-left: 20px;
        }
        img{
            padding-right: 15px;
        }
        .footer__avisoLegal{
            padding: unset;
            margin: unset;
            padding: 46px 30px 40px 30px;
            color: $blanco;
            text-align: center;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;  
            a{
                text-decoration: none;
                color: $blanco;
            }              
        }
    }
}
@media only screen and (min-width:769px) and (max-width:1000px){

}
/* Desktop */
@media only screen and (min-width:1001px) and (max-width:1200px){
    footer{
        
        background-image: url("../../imagenes/footer/fondoFooterDesktop.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        .footerContainerContent{
            display: flex;
            align-items: center;
            max-width: 85%;
            margin: auto;
        }
    }
    .logo__footer{
        margin-top: 56px;
        padding-left: 20px;
        width: 165px;
        height: 33px;
    }
    .colum__footer{
        padding: unset;
        padding-top: 50px;
        
        a {
            text-decoration:none;
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 0px 0px 20px;
                list-style: none;
            }
        }
    }
    .colum__footer2{
        padding: unset;
        padding-top: 24px;
        position: relative;
        top: 12px;
        a {
            text-decoration:none;
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 0px 0px 20px;
                list-style: none;
            }
        }
    }
        
        p{
            color: $blanco;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            img{
                padding-right: 11px;
            }
        }
        .footer_datosPersonales{
            padding-left: 20px;
            .footer__contactanos{
                padding: 48px 0px 20px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                a{
                    text-decoration: none;
                    color: $blanco;
                }
            }
            .informacionDireccionFooter{
                padding-left: 18px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
            }
        }
    
    .footer__redesSociales{
        p{
            padding: unset;
            padding: 12px 0px 10px 20px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        .container__redesSociales__icons{
            display: flex;
            justify-content: space-evenly;
            padding-left: 20px;
        }
        img{
            padding-right: 15px;
        }
    }
    .footer__avisoLegal{
        padding: unset;
        margin: unset;
        padding: 46px 30px 40px 30px;
        color: $blanco;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;  
        a{
            text-decoration: none;
            color: $blanco;
        }              
    }
}
@media only screen and (min-width:1201px) and (max-width:1400px){
    footer{
        
        background-image: url("../../imagenes/footer/fondoFooterDesktop.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        .footerContainerContent{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            max-width: 85%;
            margin: auto;
        }
    }
    .logo__footer{
        margin-top: 56px;
        padding-left: 20px;
        width: 165px;
        height: 33px;
    }
    .colum__footer{
        padding: unset;
        padding-top: 50px;
        
        a {
            text-decoration:none;
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 0px 0px 20px;
                list-style: none;
            }
        }
    }
    .colum__footer2{
        padding: unset;
        padding-top: 24px;
        position: relative;
        top: 12px;
        a {
            text-decoration:none;
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 0px 0px 20px;
                list-style: none;
            }
        }
    }
        
        p{
            color: $blanco;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            img{
                padding-right: 11px;
            }
        }
        .footer_datosPersonales{
            padding-left: 20px;
            .footer__contactanos{
                padding: 48px 0px 20px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                a{
                    text-decoration: none;
                    color: $blanco;
                }
            }
            .informacionDireccionFooter{
                padding-left: 18px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
            }
        }
    
    .footer__redesSociales{
        p{
            padding: unset;
            padding: 12px 0px 10px 20px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        .container__redesSociales__icons{
            display: flex;
            justify-content: space-evenly;
            padding-left: 20px;
        }
        img{
            padding-right: 15px;
        }
    }
    .footer__avisoLegal{
        padding: unset;
        margin: unset;
        padding: 46px 30px 40px 30px;
        color: $blanco;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;  
        a{
            text-decoration: none;
            color: $blanco;
        }              
    }
}
@media only screen and (min-width:1401px) and (max-width:1600px){
    footer{
        
        background-image: url("../../imagenes/footer/fondoFooterDesktop.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        .footerContainerContent{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            max-width: 85%;
            margin: auto;
        }
    }
    .logo__footer{
        margin-top: 56px;
        padding-left: 20px;
        width: 165px;
        height: 33px;
    }
    .colum__footer{
        padding: unset;
        padding-top: 50px;
        
        a {
            text-decoration:none;
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 0px 0px 20px;
                list-style: none;
            }
        }
    }
    .colum__footer2{
        padding: unset;
        padding-top: 24px;
        position: relative;
        top: 12px;
        a {
            text-decoration:none;
            p{
                color: $blanco;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 0px 0px 20px;
                list-style: none;
            }
        }
    }
        
        p{
            color: $blanco;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            img{
                padding-right: 11px;
            }
        }
        .footer_datosPersonales{
            padding-left: 20px;
            .footer__contactanos{
                padding: 48px 0px 20px 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                a{
                    text-decoration: none;
                    color: $blanco;
                }
            }
            .informacionDireccionFooter{
                padding-left: 18px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
            }
        }
    
    .footer__redesSociales{
        p{
            padding: unset;
            padding: 12px 0px 10px 20px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        .container__redesSociales__icons{
            display: flex;
            justify-content: space-evenly;
            padding-left: 20px;
        }
        img{
            padding-right: 15px;
        }
    }
    .footer__avisoLegal{
        padding: unset;
        margin: unset;
        padding: 46px 30px 40px 30px;
        color: $blanco;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;  
        a{
            text-decoration: none;
            color: $blanco;
        }              
    }
}