@import "./variables.scss";
body{
    font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 320px){
    .navbar__nav{
        position: relative;
        background-color: $negro__header;
        color:$gris__oscuro;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
            .container-fluid{
                background-color: $negro__header;
                color: $gris__oscuro;
                    .navbar-brand{
                        img{
                            padding: unset;
                            padding-left: 8px;
                            width: 150px;
                        }
                    }
                    .btn__header{ 
                        background-color: $negro__header;
                        color: $blanco; 
                    }
                    .navbar-collapse{
                        background-color: $negro__header;
                        padding: 30px 0px 20px 5px;
                        .nav-link{
                            padding: 20px;
                            color:$blanco;
                            line-height: 28.8px;
                            font-size: 24px;
                            font-weight: 700;
                            font-style: normal;
                        }
                    }
            }
            .btn__container{
                
                    .button__navbar{
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;
                        line-height: 24px;
                        background-color: $negro__header;
                        color:$blanco;
                        width: 115px;
                        height: 48px;
                        left: 20px;
                        top: 554px;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 40px;
                    }
                    .btn__unete{
                        padding-right: 10px;
                    }
                    .btn__donar{
                        margin-left: 24px;
                    }
            }
    }
}
@media only screen and (min-width:321px) and (max-width: 599px){
    .navbar__nav{
        background-color: $negro__header;
        color:$gris__oscuro;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
            .container-fluid{
                background-color: $negro__header;
                color: $gris__oscuro;
                    .navbar-brand{
                        img{
                            width: 150px;
                        }
                    }
                    .btn__header{ 
                        background-color: $negro__header;
                        color: $blanco; 
                    }
                    .navbar-collapse{
                        background-color: $negro__header;
                        padding: 30px 0px 20px 5px;
                        .nav-link{
                            color:$blanco;
                            line-height: 28.8px;
                            font-size: 24px;
                            font-weight: 700;
                            font-style: normal;
                        }
                    }
            }
            .btn__container{
                
                    .button__navbar{
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;
                        line-height: 24px;
                        background-color: $negro__header;
                        color:$blanco;
                        width: 115px;
                        height: 48px;
                        left: 20px;
                        top: 554px;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 40px;
                    }
                    .btn__unete{
                        padding-right: 10px;
                    }
                    .btn__donar{
                        margin-left: 24px;
                    }
            }
    }           
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    .navbar__nav{
        background-color: $negro__header;
        color:$gris__oscuro;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
            .container-fluid{
                background-color: $negro__header;
                color: $gris__oscuro;
                    .navbar-brand{
                        img{
                            width: 150px;
                        }
                    }
                    .btn__header{ 
                        background-color: $negro__header;
                        color: $blanco; 
                    }
                    .navbar-collapse{
                        background-color: $negro__header;
                        padding: 30px 0px 20px 5px;
                        .nav-link{
                            color:$blanco;
                            line-height: 28.8px;
                            font-size: 24px;
                            font-weight: 700;
                            font-style: normal;
                        }
                    }
            }
            .btn__container{
                
                    .button__navbar{
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;
                        line-height: 24px;
                        background-color: $negro__header;
                        color:$blanco;
                        width: 115px;
                        height: 48px;
                        left: 20px;
                        top: 554px;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 40px;
                    }
                    .btn__unete{
                        padding-right: 10px;
                    }
                    .btn__donar{
                        margin-left: 24px;
                    }
            }
    }       
}
@media only screen and (min-width:769px) and (max-width:1200px){

}