@import "./variables.scss";
body{
    font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 320px){
    .navbar__nav{
        background-color: $blanco;
        color:$gris__oscuro;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
            .container-fluid{
                background-color: $blanco;
                color: $gris__oscuro;
                    .btn__header{
                     background-color: $blanco;
                     color: $gris__oscuro;   
                    }
                    .navbar-collapse{
                        background-color: $blanco;
                        padding: 30px 0px 20px 5px;
                        .nav-link{
                            color:$gris__oscuro;
                            line-height: 28.8px;
                            font-size: 24px;
                            font-weight: 700;
                            font-style: normal;
                        }
                    }
            }
            .btn__container{
                
                    .button__navbar{
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;
                        line-height: 24px;
                        background-color: $negro__header;
                        color:$blanco;
                        width: 115px;
                        height: 48px;
                        left: 20px;
                        top: 554px;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 40px;
                    }
                    .btn__unete{
                        padding-right: 10px;
                    }
            }
    }
}