/*** Variables Colores  ***/
$amarillo: #FFC20E;
$azul__oscuro: #2C5697;
$blanco: #FFFFFF;
$celeste: #1CABE2; 
$gris: #777779;
$gris__oscuro: #2D2926;
$negro__header: #1A1A1A;
$negro__letras: #000000;
$rojo: #E2231A;
$verde: #80BD41;


